form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}

form .form-title {
    margin-bottom: 20px;
}

form .col-2 {
    grid-column: span 2;
}

form label {
    display: block;
    font-size: 1.05rem;
    margin-bottom: 6px;
}

form input,
form textarea {
    width: 100%;
    max-width: 100%;
    padding: 16px;
    font-size: 1.05rem;
    border: 1px solid var(--cor-c5);
    border-radius: 4px;
    background: var(--cor-p0);
}

form input:focus,
form textarea:focus {
    border: 1px solid var(--cor-c1);
    outline: none;
}

form textarea {
    min-height: 180px;
    font-family: "Roboto", Arial, sans-serif;
}

form button {
    background: linear-gradient(180deg, var(--cor-p0) 0% 10%, var(--cor-p0-hover) 100%);
    padding: 20px 28px;
    place-self: start;
    border-radius: 4px;
    border: 1px solid var(--cor-c5);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
}

form button:hover {
    background: linear-gradient(180deg, var(--cor-p0-hover) 0% 50%, var(--cor-p0-hover) 100%);
}